export(as.surveyor)
export(as.surveyorCode)
export(codeArray)
export(codeGuess)
export(codeQuickArray)
export(codeSingle)
export(filter_nocomment)
export(formatPercent)
export(formatPound)
export(formatRound)
export(is.surveyor)
export(is.surveyorCode)
export(netScore)
export(paste.matrix)
export(plotBar)
export(plotBarSum)
export(plotColumn)
export(plotGuess)
export(plotNetScore)
export(plotPoint)
export(plotText)
export(statsBin)
export(statsBinPercent)
export(statsCentral)
export(statsCount)
export(statsGuess)
export(statsMean)
export(statsMedian)
export(statsNetScore)
export(statsRank)
export(statsSum)
export(statsText)
export(surveyorDefaults)
export(surveyorPlot)
export(surveyorUpdateDefaults)
export(weightedCount)
export(weightedMean)
export(weightedMedian)
export(weightedSum)
import(braid)
import(data.table)
import(ggplot2)
import(grid)
import(lattice)
import(latticeExtra)
import(plyr)
import(RColorBrewer)
import(reshape2)
import(stringr)
import(surveydata)
import(xtable)
