export(code_single)
export(code_array)
export(code_guess)
export(filter_nocomment)
export(code_text)
export(stats_guess)
export(stats_bin)
export(stats_bin_percent)
export(stats_sum)
export(stats_mean)
export(stats_rank)
export(net_score)
export(stats_net_score)
export(stats_text)
export(plot_guess)
export(plot_bar)
export(plot_bar_sum)
export(plot_column)
export(plot_point)
export(plot_text)
export(plot_net_score)
export(get_q_subquestions)
export(get_q_text_unique)
export(get_q_text_common)
export(get_q_text)
export(paste.matrix)
export(str_common_unique)
export(str_wrap)
export(str_reverse)
export(as.surveyor)
export(surveyor_defaults)
S3method(print, surveyor)
export(is.surveyor)
export(surveyor_plot)
